# The models directory, which is created if it does not exist
models

# The main file; Used during development
main.py

# Saved models; Used during development
/model-saves

# Sample texts; Used during development
/sample-texts

# Python Caches
/**/__pycache__