# The models directory, which is created if it does not exist
models

# The main file; Used during development
main.py

# The linter output, used for linting into PEP8 format
lint.log

# Saved models; Used during development
/model-saves

# Sample texts; Used during development
/sample-texts

# Python Caches
/**/__pycache__